<header>
  <img
    src="assets/img/diego.jpg"
    alt="Diego Minelli - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Diego Minelli</h1>
</header>

<aside>
  <div class="container">
    <p>Front-End Angular | Flutter</p>
    <p>Itanhaém, São Paulo, Brasil</p>
    <p>Estou na área de desenvolvimento de software a mais de 6 anos.</p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"
            >Dowload Cv</a
          >
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/diego-minelli-d26i07e09/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone para contato do whatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511987084795&text=Ol%C3%A1%20Diego,%20preciso%20de%um%20job!"
            target="_blank"
          >
            <strong>Envie uma mensagem para: </strong>
            <p>WhatsApp: (11) 9 8708-4795</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone para contato do whatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:diego.minelli@hotmail.com" target="_blank">
            <strong>Envie uma e-mail para: </strong>
            <p>diego.minelli&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
